<!DOCTYPE html>
<html lang="en">
  <head>
      <script async defer data-domain="abhattacharyea.dev" src="https://analytics.abhattacharyea.dev/js/plausible.js"></script>

      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Personal website of Aniket Bhattacharyea">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Aniket Bhattacharyea | Web Developer And Programmer</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->



  </body>
</html>
