<template>
  <div class="about p-6">
    <AboutCard
      header="Who am I"
      text="I am Aniket Bhattacharyea. I am a student from Kolkata, India. I am a self
      taught developer, part time coder, tutor and the nicest fellow around. ( ͡°
      ͜ʖ ͡°). Also, I usually have short circuit in my brain when trying to talk about myself."
    />
    <AboutCard header="What I do">
      <template v-slot:text>
        <p>
          I am a first year student of M. Sc. Mathematics. I do programming as a
          hobby, and I work as Head of Technology at
          <a href="https://piparadox.live" target="_blank">PiParadox</a>.
        </p>
        <p>
          When I am not working on an office project or personal project, I am
          learning new things in Maths, or tutoring students, or writing
          <a href="https://blog.abhattacharyea.dev">blogs</a>, or trying to
          desperately find something to say about myself and fill all these
          empty spaces.
        </p>
      </template>
    </AboutCard>
    <AboutCard header="Around the web">
      <template v-slot:text>
        You can find me in many social sites. Here are the ones I use. My
        activity in all of them might vary -
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols6 lg:grid-cols-6"
        >
          <div class="m-4">
            <a href="https://www.linkedin.com/in/heraldofsolace/"
              ><font-awesome-icon :icon="['fab', 'linkedin']" /><span
                class="ml-10"
                >LinkedIn</span
              ></a
            >
          </div>
          <div class="m-4">
            <a href="https://twitter.com/heraldofsolace"
              ><font-awesome-icon :icon="['fab', 'twitter']" /><span
                class="ml-10"
                >Twitter</span
              ></a
            >
          </div>
          <div class="m-4">
            <a href="https://dev.to/heraldofsolace"
              ><font-awesome-icon :icon="['fab', 'dev']" /><span class="ml-10"
                >Dev.to</span
              ></a
            >
          </div>
          <div class="m-4">
            <a href="https://www.hackerrank.com/BrokenMutant"
              ><font-awesome-icon :icon="['fab', 'hackerrank']" /><span
                class="ml-10"
                >HackerRank</span
              ></a
            >
          </div>
          <div class="m-4">
            <a href="https://github.com/heraldofsolace"
              ><font-awesome-icon :icon="['fab', 'github']" /><span
                class="ml-10"
                >Github</span
              ></a
            >
          </div>
          <div class="m-4">
            <a href="https://gitlab.com/heraldofsolace"
              ><font-awesome-icon :icon="['fab', 'gitlab']" /><span
                class="ml-10"
                >Gitlab</span
              ></a
            >
          </div>
        </div>
      </template>
    </AboutCard>
  </div>
</template>

<script>
import AboutCard from "@/components/AboutCard";
export default {
  name: "About",
  components: { AboutCard }
};
</script>
