<template>
  <div class="contact">
    <h1 class="text-3xl md:text-6xl">Contact</h1>
    <div class="grid sm:grid-cols-1 md:grid-cols-2">
      <div class="p-4">
        <t-input-group
          label="Email"
          description="Enter your email address where you can be contacted"
          label-class="block uppercase tracking-wide text-lg font-bold mb-1 text-dracula-orange"
          description-class="text-sm text-dracula-orange mt-5"
          feedback-class="text-sm text-dracula-red mt-5"
        >
          <t-input
            v-model="email"
            name="email"
            type="email"
            class="text-dracula-selection w-full"
          />
        </t-input-group>

        <t-input-group
          label="Subject"
          label-class="block uppercase tracking-wide text-lg font-bold mb-1 text-dracula-orange"
        >
          <t-input
            v-model="subject"
            name="subject"
            type="text"
            class="text-dracula-selection w-full"
          />
        </t-input-group>

        <t-input-group
          label="Message"
          label-class="block uppercase tracking-wide text-lg font-bold mb-1 text-dracula-orange"
          description-class="text-sm text-dracula-orange"
          feedback-class="text-sm text-dracula-red mt-5"
        >
          <t-textarea
            v-model="message"
            name="message"
            type="text"
            class="text-dracula-selection w-full h-64"
          />
        </t-input-group>
      </div>
      <div class="p-4">
        <span class="text-2xl">{{ success }}</span>
      </div>
    </div>
    <a
      href="#"
      class="border-4 p-4 border-dracula-red text-dracula-red mx-4 my-10"
      v-on:click.prevent="submit"
    >
      Submit
    </a>

    <span
      ><a
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        target="_blank"
        v-on:click="yeehaw"
        >Or, Contact me via WhatsApp</a
      ></span
    >
  </div>
</template>
<style lang="scss"></style>
<script>
import axios from "axios";
export default {
  name: "Contact",
  data: function() {
    return {
      email: "",
      subject: "",
      message: "",
      success: ""
    };
  },
  methods: {
    submit(e) {
      if (
        this.email === "" ||
        !/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(
          this.email
        )
      ) {
        this.email = "Please enter a valid email";
        return;
      }
      if (this.message === "") {
        this.message = "I can't read your mind!";
        return;
      }
      if (this.subject === "") {
        this.subject = "What do you want to talk about?";
        return;
      }

      axios
        .post("https://personal-server-246004.el.r.appspot.com/contact", {
          email: this.email,
          subject: this.subject,
          message: this.message
        })
        .then(
          response =>
            (this.success = "Your message has been successfully submitted.")
        )
        .catch(console.error);
    },
    yeehaw(e) {
      this.subject = "Contact Via WhatsApp";
      this.message = "Please contact me via WhatsApp";
    }
  }
};
</script>

<style scoped></style>
