<template>
  <div class="donors p-6">
    <h1 class="text-3xl md:text-6xl">Thank you to all my donors on Ko-fi</h1>
    <em class="text-lg"
      >Want to see your name here? Go ahead,
      <a class="text-dracula-red" href="https://ko-fi.com/heraldofsolace"
        >donate</a
      >
      to me</em
    >
    <div class="p-6 text-lg">
      <div v-for="donor in donors" :key="donor.transaction_id">
        <span class="text-dracula-red text-xl"
          >{{ donor.currency }} {{ donor.amount }}</span
        >
        by
        <span class="text-dracula-red text-lg uppercase">{{ donor.name }}</span>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped></style>

<script>
import { db } from "@/firebase/db";

export default {
  name: "Donors",
  components: {},
  data: function() {
    return {
      donors: []
    };
  },
  firestore: {
    donors: db.collection("donors").orderBy("timestamp")
  }
};
</script>

<style scoped></style>
